In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#train data 불러오기
train_data = pd.read_csv('/Users/jeonginn/Desktop/ML/data/train_data/train_task_3_4.csv')
print(train_data.head())
# 데이터의 전반적인 통계 정보
print(train_data.describe())

# 데이터의 각 열의 데이터 타입
print(train_data.dtypes)

# 데이터의 열 이름
print(train_data.columns)

   QuestionId  UserId  AnswerId  IsCorrect  CorrectAnswer  AnswerValue
0         898    2111    280203          1              2            2
1         767    3062     55638          1              3            3
2         165    1156    386475          1              2            2
3         490    1653    997498          1              4            4
4         298    3912    578636          1              3            3
         QuestionId        UserId      AnswerId     IsCorrect  CorrectAnswer  \
count  1.382727e+06  1.382727e+06  1.382727e+06  1.382727e+06   1.382727e+06
mean   4.682276e+02  3.036283e+03  7.544279e+05  5.373317e-01   2.390497e+00
std    2.735797e+02  1.770599e+03  4.356190e+05  4.986046e-01   1.066479e+00
min    0.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00   1.000000e+00
25%    2.330000e+02  1.515000e+03  3.772935e+05  0.000000e+00   1.000000e+00
50%    4.680000e+02  3.009000e+03  7.544530e+05  1.000000e+00   2.000000e+00
75%    7.030000e+02  4.565000e+03  1.131772e+06  1.000000e+00   3.000000e+00
max    9.470000e+02  6.147000e+03  1.508916e+06  1.000000e+00   4.000000e+00

        AnswerValue
count  1.382727e+06
mean   2.437992e+00
std    1.067624e+00
min    1.000000e+00
25%    2.000000e+00
50%    2.000000e+00
75%    3.000000e+00
max    4.000000e+00
QuestionId       int64
UserId           int64
AnswerId         int64
IsCorrect        int64
CorrectAnswer    int64
AnswerValue      int64
dtype: object
Index(['QuestionId', 'UserId', 'AnswerId', 'IsCorrect', 'CorrectAnswer',
       'AnswerValue'],
      dtype='object')

In [3]:
#question metadata 불러오기
question_metadata = pd.read_csv('/Users/jeonginn/Desktop/ML/data/metadata/question_metadata_task_3_4.csv')
print(question_metadata.head())
# 데이터의 전반적인 통계 정보
print(question_metadata.describe())

# 데이터의 각 열의 데이터 타입
print(question_metadata.dtypes)

# 데이터의 열 이름
print(question_metadata.columns)

   QuestionId         SubjectId
0         684  [3, 71, 98, 209]
1          87  [3, 71, 98, 209]
2         679  [3, 71, 98, 209]
3         685  [3, 71, 98, 209]
4         222  [3, 71, 98, 209]
       QuestionId
count  948.000000
mean   473.500000
std    273.808327
min      0.000000
25%    236.750000
50%    473.500000
75%    710.250000
max    947.000000
QuestionId     int64
SubjectId     object
dtype: object
Index(['QuestionId', 'SubjectId'], dtype='object')

In [4]:
#answer meatadata 불러오기
answer_metadata = pd.read_csv('/Users/jeonginn/Desktop/ML/data/metadata/answer_metadata_task_3_4.csv')
print(answer_metadata.head())

# 데이터의 전반적인 통계 정보
print(answer_metadata.describe())

# 데이터의 각 열의 데이터 타입
print(answer_metadata.dtypes)

# 데이터의 열 이름
print(answer_metadata.columns)

   AnswerId             DateAnswered  Confidence  GroupId  QuizId  \
0   1451945  2019-10-30 14:34:00.000         NaN        4      32
1     45325  2020-01-06 18:53:00.000        75.0      185      66
2    687013  2020-01-18 10:52:00.000         NaN      235      64
3     91254  2020-02-29 17:25:00.000         NaN      194      97
4   1225855  2020-03-06 15:07:00.000         NaN       95     115

   SchemeOfWorkId
0         52562.0
1         52562.0
2         52562.0
3         52562.0
4         52562.0
           AnswerId     Confidence       GroupId        QuizId  SchemeOfWorkId
count  1.508917e+06  383096.000000  1.508917e+06  1.508917e+06    1.365456e+06
mean   7.544580e+05      73.608704  1.958773e+02  6.132347e+01    5.256232e+04
std    4.355870e+05      31.365465  1.146459e+02  3.121874e+01    6.660672e+01
min    0.000000e+00       0.000000  0.000000e+00  0.000000e+00    5.256200e+04
25%    3.772290e+05      50.000000  9.500000e+01  3.700000e+01    5.256200e+04
50%    7.544580e+05      75.000000  1.980000e+02  6.300000e+01    5.256200e+04
75%    1.131687e+06     100.000000  3.000000e+02  8.600000e+01    5.256200e+04
max    1.508916e+06     100.000000  3.890000e+02  1.190000e+02    6.632100e+04
AnswerId            int64
DateAnswered       object
Confidence        float64
GroupId             int64
QuizId              int64
SchemeOfWorkId    float64
dtype: object
Index(['AnswerId', 'DateAnswered', 'Confidence', 'GroupId', 'QuizId',
       'SchemeOfWorkId'],
      dtype='object')

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [6]:
# train_data와 question_metadata 병합 
merged_data = train_data.merge(question_metadata, on="QuestionId", how="left")

In [7]:
merged_data.head(10)

,QuestionId,UserId,AnswerId,IsCorrect,CorrectAnswer,AnswerValue,SubjectId
0,898,2111,280203,1,2,2,"[3, 49, 62, 70]"
1,767,3062,55638,1,3,3,"[3, 32, 144, 204]"
2,165,1156,386475,1,2,2,"[3, 32, 37, 220]"
3,490,1653,997498,1,4,4,"[3, 49, 81, 406]"
4,298,3912,578636,1,3,3,"[3, 71, 74, 180]"
5,791,5040,1335238,1,2,2,"[3, 32, 40, 245]"
6,932,3923,6545,0,4,3,"[3, 32, 144, 204]"
7,134,5163,1042162,0,1,2,"[3, 32, 42, 211]"
8,370,3854,453105,0,2,3,"[3, 49, 62, 251]"
9,840,3896,150788,0,1,2,"[3, 32, 37, 219]"

In [8]:
answer_metadata_subset = answer_metadata[['AnswerId', 'GroupId', 'QuizId']]

# merged_data answer_metadata_subset 병합 
merged_data = merged_data.merge(answer_metadata_subset, on="AnswerId", how="left")
merged_data.head(10)

,QuestionId,UserId,AnswerId,IsCorrect,CorrectAnswer,AnswerValue,SubjectId,GroupId,QuizId
0,898,2111,280203,1,2,2,"[3, 49, 62, 70]",95,86
1,767,3062,55638,1,3,3,"[3, 32, 144, 204]",115,39
2,165,1156,386475,1,2,2,"[3, 32, 37, 220]",101,39
3,490,1653,997498,1,4,4,"[3, 49, 81, 406]",46,115
4,298,3912,578636,1,3,3,"[3, 71, 74, 180]",314,78
5,791,5040,1335238,1,2,2,"[3, 32, 40, 245]",339,17
6,932,3923,6545,0,4,3,"[3, 32, 144, 204]",112,57
7,134,5163,1042162,0,1,2,"[3, 32, 42, 211]",163,46
8,370,3854,453105,0,2,3,"[3, 49, 62, 251]",339,37
9,840,3896,150788,0,1,2,"[3, 32, 37, 219]",370,66

In [9]:
grouped = merged_data.groupby('QuestionId')

# 정답 개수, 시도 횟수, 정답률을 계산
results = pd.DataFrame({
    'num_correct': grouped['IsCorrect'].sum(), # num_correct 열은 해당 문제에서 맞춘 정답의 개수
    'num_attempts': grouped['IsCorrect'].count(), # num_attempts 열은 해당 문제에서 시도한 횟수
    'correct_rate': grouped['IsCorrect'].mean(), # correct_rate 열은 해당 문제의 정답률
}).reset_index()

# 결과 출력
print(results)

     QuestionId  num_correct  num_attempts  correct_rate
0             0         1247          2812      0.443457
1             1            8            14      0.571429
2             2          891          2313      0.385214
3             3         2161          2672      0.808757
4             4          684          1704      0.401408
..          ...          ...           ...           ...
943         943         1503          2653      0.566528
944         944           27           189      0.142857
945         945          987          2337      0.422336
946         946           51           111      0.459459
947         947          382           619      0.617124

[948 rows x 4 columns]

In [10]:
# incorrect_ratio는 해당 문제의 오답률
results['incorrect_ratio'] = 1 - results['correct_rate']
merged_data = pd.merge(merged_data, results[['QuestionId', 'incorrect_ratio']], on='QuestionId')
print(merged_data.head())

   QuestionId  UserId  AnswerId  IsCorrect  CorrectAnswer  AnswerValue  \
0         898    2111    280203          1              2            2
1         898    4884   1355100          0              2            4
2         898    3131    481614          0              2            4
3         898    1921   1506133          1              2            2
4         898    2471    498300          1              2            2

         SubjectId  GroupId  QuizId  incorrect_ratio
0  [3, 49, 62, 70]       95      86         0.473636
1  [3, 49, 62, 70]      118      86         0.473636
2  [3, 49, 62, 70]        5      86         0.473636
3  [3, 49, 62, 70]       53      30         0.473636
4  [3, 49, 62, 70]      179      86         0.473636

In [11]:
from scipy.stats import mode

# `merged_data`에서 `CorrectAnswer`인 데이터는 제외
merged_data_without_ca = merged_data[merged_data['AnswerValue'] != merged_data['CorrectAnswer']]

# QuestionId 제출된 답 중 CorrectAnswer를 제외했을 때 가장 많이 제출된 incorrect answer를 구하기
grouped = merged_data_without_ca.groupby('QuestionId')
incorrect_answers = grouped['AnswerValue'].apply(lambda x: mode(x, keepdims=False)[0]).fillna(np.nan)

# merged_data에 'incorrect_answer' 열 추가
merged_data['incorrect_answer'] = merged_data['QuestionId'].map(incorrect_answers).fillna(merged_data['CorrectAnswer'])

# 결과 출력
print(merged_data.head())

   QuestionId  UserId  AnswerId  IsCorrect  CorrectAnswer  AnswerValue  \
0         898    2111    280203          1              2            2
1         898    4884   1355100          0              2            4
2         898    3131    481614          0              2            4
3         898    1921   1506133          1              2            2
4         898    2471    498300          1              2            2

         SubjectId  GroupId  QuizId  incorrect_ratio  incorrect_answer
0  [3, 49, 62, 70]       95      86         0.473636               3.0
1  [3, 49, 62, 70]      118      86         0.473636               3.0
2  [3, 49, 62, 70]        5      86         0.473636               3.0
3  [3, 49, 62, 70]       53      30         0.473636               3.0
4  [3, 49, 62, 70]      179      86         0.473636               3.0

In [12]:
# AnswerValue에서 incorrect_answer 비율 구하기
# 제출된 답안 중 가장 많이 제출된 오답의 비율 구하기
def calculate_incorrect_answer_ratio(group):
    answer_value_counts = group['AnswerValue'].value_counts(normalize=True)
    max_incorrect_answer_value = group['incorrect_answer'].mode().iloc[0]
    incorrect_ratio = answer_value_counts[max_incorrect_answer_value]
    return group.assign(incorrect_answer_ratio=incorrect_ratio)

grouped = merged_data.groupby('QuestionId')
merged_data = grouped.apply(calculate_incorrect_answer_ratio).reset_index(drop=True)

print(merged_data.head())

   QuestionId  UserId  AnswerId  IsCorrect  CorrectAnswer  AnswerValue  \
0         898    2111    280203          1              2            2
1         898    4884   1355100          0              2            4
2         898    3131    481614          0              2            4
3         898    1921   1506133          1              2            2
4         898    2471    498300          1              2            2

         SubjectId  GroupId  QuizId  incorrect_ratio  incorrect_answer  \
0  [3, 49, 62, 70]       95      86         0.473636               3.0
1  [3, 49, 62, 70]      118      86         0.473636               3.0
2  [3, 49, 62, 70]        5      86         0.473636               3.0
3  [3, 49, 62, 70]       53      30         0.473636               3.0
4  [3, 49, 62, 70]      179      86         0.473636               3.0

   incorrect_answer_ratio
0                0.210916
1                0.210916
2                0.210916
3                0.210916
4                0.210916

In [13]:
incorrect_answer_ratio_stats = merged_data['incorrect_answer_ratio'].describe()

print(incorrect_answer_ratio_stats)
# incorrect_answer_ratio가 0.265 이상(25%) = 구분력이 높은 문제
# incorrect_answer_ratio가 0.158 이하(75%) = 구분력이 낮은 문제

count    1.382727e+06
mean     2.183822e-01
std      8.694648e-02
min      2.732240e-02
25%      1.575946e-01
50%      2.111554e-01
75%      2.648461e-01
max      1.000000e+00
Name: incorrect_answer_ratio, dtype: float64

In [14]:
incorrect_ratio_stats = merged_data['incorrect_ratio'].describe()
print(incorrect_ratio_stats)
# incorrect_ratio가 0.5761 이상(25%) = 어려운 문제
# incorrect_ratio가 0.3485 이하(75%) = 쉬운 문제

count    1.382727e+06
mean     4.626683e-01
std      1.523015e-01
min      0.000000e+00
25%      3.485811e-01
50%      4.684339e-01
75%      5.760743e-01
max      8.571429e-01
Name: incorrect_ratio, dtype: float64

In [15]:
# 어려움과 구분력이 높은 문제로 정답 여부 예측하는 모델
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# 분류 문제로 변환
merged_data['is_difficult'] = (merged_data['incorrect_ratio'] >= 0.5761).astype(int)
merged_data['is_highly_discriminative'] = (merged_data['incorrect_answer_ratio'] >= 0.265).astype(int)

# 특성 선택과 학습 데이터 준비
X = merged_data[['is_difficult', 'is_highly_discriminative']].values
y = merged_data['CorrectAnswer'].values

# 학습 데이터와 테스트 데이터 분리
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

# 로지스틱 회귀 모델 학습
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

# 모델 예측 및 평가
y_pred = logreg.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: ", accuracy)

Accuracy:  0.29129331105855805

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# 분류 문제로 변환
merged_data['is_easy'] = (merged_data['incorrect_ratio'] <= 0.3485).astype(int)
merged_data['is_low_discriminative'] = (merged_data['incorrect_answer_ratio'] <= 0.158).astype(int)

# 특성 선택과 학습 데이터 준비
X = merged_data[['is_easy', 'is_low_discriminative']].values
y = merged_data['CorrectAnswer'].values

# 학습 데이터와 테스트 데이터 분리
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

# 로지스틱 회귀 모델 학습
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

# 모델 예측 및 평가
y_pred = logreg.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: ", accuracy)

Accuracy:  0.29892314479327126

In [17]:
# 필요한 열 추출
data = merged_data[['QuestionId', 'incorrect_ratio', 'incorrect_answer_ratio']]

# 중복된 QuestionId를 하나의 행으로 합치기
data = data.groupby('QuestionId').agg({
    'incorrect_ratio': 'first',
    'incorrect_answer_ratio': 'first'
}).reset_index()

data.head()

   QuestionId  incorrect_ratio  incorrect_answer_ratio
0           0         0.556543                0.350640
1           1         0.428571                0.357143
2           2         0.614786                0.236057
3           3         0.191243                0.072605
4           4         0.598592                0.242958

In [18]:
# 'incorrect_ratio'와 'incorrect_answer_ratio'를 특징으로 선택하여 어려운 문제의 오답 가능성을 예측

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import mean_squared_error


# 데이터 준비
X = merged_data[['incorrect_ratio', 'incorrect_answer_ratio']]  # 특징 선택
y = merged_data['IsCorrect']  # 정답 여부

# 데이터 분할
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 모델 구축 및 학습
model = RandomForestClassifier()
model.fit(X_train, y_train)

# 모델 예측
y_pred = model.predict(X_test)

# 모델 평가
report = classification_report(y_test, y_pred)
print(report)


# 예측 확률 얻기
proba = model.predict_proba(X)
proba_positive = proba[:, 1]  # 두 번째 클래스(1)에 대한 예측 확률 추출
mse = mean_squared_error(y_test, y_pred)

# 랭킹 생성
ranking = pd.DataFrame({'QuestionId': merged_data['QuestionId'], 'PredictionProb': proba_positive})
ranking = ranking.sort_values(by='PredictionProb', ascending=False)

print(ranking.head(20))
print('Mean Squared Error:', mse)

              precision    recall  f1-score   support

           0       0.61      0.55      0.58    127887
           1       0.64      0.70      0.67    148659

    accuracy                           0.63    276546
   macro avg       0.63      0.62      0.62    276546
weighted avg       0.63      0.63      0.63    276546

         QuestionId  PredictionProb
1365992         660        1.000000
1382539         841        1.000000
1382577         847        1.000000
1382578         847        1.000000
1382575         847        1.000000
1365993         660        1.000000
1382542         841        1.000000
1382541         841        1.000000
1382540         841        1.000000
1382576         847        1.000000
1365991         660        1.000000
1365990         660        1.000000
1365988         660        1.000000
1365989         660        1.000000
1325965         924        0.920329
1325943         924        0.920329
1325948         924        0.920329
1325947         924        0.920329
1325946         924        0.920329
1325945         924        0.920329
Mean Squared Error: 0.37173200841812937

In [19]:
# 높은 예측 확률을 가진 문제가 상위에 위치하는 랭킹
ranking = ranking.groupby('QuestionId').agg({
    'PredictionProb': 'mean'
}).reset_index()
ranking = ranking.sort_values(by='PredictionProb', ascending=False)

print(ranking.head())

     QuestionId  PredictionProb
847         847        1.000000
841         841        1.000000
660         660        1.000000
924         924        0.920329
422         422        0.905149

In [20]:
ranking['ranking'] = ranking['PredictionProb'].rank(ascending=False)

In [21]:
ranking

     QuestionId  PredictionProb  ranking
847         847        1.000000      2.0
841         841        1.000000      2.0
660         660        1.000000      2.0
924         924        0.920329      4.0
422         422        0.905149      5.0
..          ...             ...      ...
155         155        0.164292    944.0
931         931        0.160747    945.0
33           33        0.141678    946.5
757         757        0.141678    946.5
944         944        0.137342    948.0

[948 rows x 3 columns]

In [22]:
result_data = ranking[['QuestionId', 'ranking']]
result_data.head()

     QuestionId  ranking
847         847      2.0
841         841      2.0
660         660      2.0
924         924      4.0
422         422      5.0

In [23]:
#csv 저장
result_data.to_csv('/Users/jeonginn/Desktop/ML/question_quality_assessment/submission/template.csv')

In [24]:
eval_validation = pd.read_csv('/Users/jeonginn/Desktop/ML/data/test_data/quality_response_remapped_public.csv')
print(len(eval_validation))
eval_validation.head()

25

   Unnamed: 0.1  Unnamed: 0  left  right  T1_ALR  T2_CL  T3_GF  T4_MQ  T5_NS
0             0           0   909    318       2      2      2    1.0      2
1            16          16   285    609       2      2      2    2.0      2
2            48          48   132    271       1      2      2    2.0      1
3            38          38   704    127       2      2      1    2.0      2
4            33          33    16    586       1      1      2    2.0      2

In [25]:
template = pd.read_csv('/Users/jeonginn/Desktop/ML/question_quality_assessment/submission/template.csv')
len(template)

948

In [26]:
template['ranking'] = 1

In [27]:
def evaluate(truth, submission):
    # extract ranking
    left = list(truth.left)
    right = list(truth.right)
#     if len(left) != len(right):
#     message = 'left and right lengths are not the same'
#     sys.exit(message)

    submission_left = []
    submission_right = []
    submission_preference = []
    for idx in range(len(left)):
        submission_left.append(left[idx])
        submission_right.append(right[idx])
        ranking_left = submission[submission.QuestionId==left[idx]].ranking.values[0]
        ranking_right = submission[submission.QuestionId==right[idx]].ranking.values[0]
        preference = 1 if ranking_left < ranking_right else 2
        submission_preference.append(preference)
    print(submission_preference)
    
evaluate(eval_validation, template)

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]