In [1]:
import pandas as pd
data = pd.read_csv('/Users/jeonginn/Desktop/ML/data/test_data/test_public_answers_task_1.csv')
data.head()

   QuestionId  UserId  AnswerId  IsCorrect
0       10856    5518   1127409          1
1       14766   41565  19673056          1
2        2829   97267  19426951          0
3       26464  100879   4929721          1
4       24436   87722   2927607          0